<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 * Copyright (C) 2017 Andrew Khitrin (ahitrin@gmail.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.xugu.XuguDataSourceProvider"
              description="Xugu connector"
              icon="icons/xugu_icon.png"
              id="xugu"
              label="Xugu">
            <tree
                  icon="icons/xugu_icon.png"
                  label="Xugu data source"
                  path="xugu">
                    
                    <!--数据库-->
                    <folder type="org.jkiss.dbeaver.ext.xugu.model.XuguDatabase" label="%tree.databases.node.name" icon="#folder_schema" description="Databases">
                    	<items label="%tree.database.node.name" path="database" property="databases" icon="#database"/>
                    </folder>      
                    <!--模式-->
		            <folder type="org.jkiss.dbeaver.ext.xugu.model.XuguSchema" label="%tree.schemas.node.name" icon="#folder_schema" description="Database schemas">
		            	<items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">
		                	<icon if="object.system" icon="#schema_system"/>
		                	<!--表-->
                  			<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTable" label="%tree.tables.node.name" icon="#folder_table" description="Tables">
                      			<items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                            		<!--列-->
                            		<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    	<items label="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    	</items>
                                	</folder>
                                	<!--约束-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="Table constraints">
                                    	<items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
                                        	<items label="%tree.constraint_columns.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        	</items>
                                    	</items>
                                	</folder>
                                	<!--外键-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableForeignKey" label="%tree.foreign_keys.node.name" icon="#keys" description="Table keys">
                                    	<items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        	<items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        	</items>
                                    	</items>
                                	</folder>
                                	<!--触发器-->                            
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    	<items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                                        	<items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
                                        	</items>
                                    	</items>
                                	</folder>
                                	<!--索引-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
                                    	<items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        	<items label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        	</items>
                                    	</items>
                                	</folder>
                                	<!--表分区-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTablePartition" label="%tree.partitions.node.name" icon="#partitions" description="Table partitions">
	                                    <items label="%tree.partition.node.name" path="partition" property="partitions" icon="#partition">
	                                    </items>
                                	</folder>
                                	<!--子分区-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableSubPartition" label="%tree.subpartitions.node.name" icon="#partitions" description="Table Subpartitions">
	                                    <items label="%tree.subpartitions.node.name" path="subpartition" property="subPartitions" icon="#partition">
	                                    </items>
                                	</folder>
                        		</items>
                        	</folder>
                        	<!--视图-->                                                 
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguView" label="%tree.views.node.name" icon="#folder_view" description="Views">
                            	<items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                	<!--列-->
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    	<items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    	</items>
                                	</folder>  
                                	<!--触发器-->                            
                                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    	<items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                                        	<items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
                                        	</items>
                                    	</items>
                                	</folder>                  
                            	</items>
                        	</folder>
                        	<!--序列-->     
                			<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguSequence" label="%tree.sequences.node.name" icon="#sequences" description="Sequences">
                    			<items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence">
                        		</items>
                    		</folder>  
                        	<!--包-->                    
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguPackage" label="%tree.packages.node.name" icon="#packages" description="Packages">
                            	<items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                            	</items>
                        	</folder>
                        	<!--存储过程和函数-->
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguProcedureStandalone" label="%tree.procedures.node.name" icon="#procedures" description="Procedures">
                            	<items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure" id="Procedure">
				                	<items label="%tree.scheduler.job.parameters.node.name" itemLabel="%tree.scheduler.job.parameter.node.name" path="argument" property="parameters" icon="#argument"/>
				                </items>			                
                        	</folder>
				        	<!--同义词-->               
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguSynonym" label="%tree.synonyms.node.name" icon="#synonyms" description="Synonyms">
                            	<items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        	</folder>
                        	<!--自定义数据类型-->        
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguUDT" label="%tree.UDTs.node.name" icon="#synonyms" description="UDTs">
                            	<items label="%tree.UDT.node.name" path="UDT" property="UDTs" icon="#synonym"/>
                        	</folder>
                        	<!--作业-->
	                        <folder type="org.jkiss.dbeaver.ext.xugu.model.XuguSchedulerJob" label="%tree.scheduler.jobs.node.name" icon="#scheduler_job_folder" description="Scheduler jobs">
                                <items label="%tree.scheduler.job.node.name" path="schedulerJob" property="schedulerJobs" icon="icons/scheduled_job.png">
                                    <items label="%tree.scheduler.job.parameters.node.name" itemLabel="%tree.scheduler.job.parameter.node.name" path="argument" property="parameters" icon="#argument"/>
                                </items>
	                        </folder> 			
		                </items>
		            </folder>
                    <!--存储管理-->
        			<!--表空间-->
                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguTablespace" label="%tree.tablespaces.node.name" icon="#tablespaces" description="Tablespaces">
                    	<items label="%tree.tablespace.node.name" path="tablespace" property="tablespaces" icon="#tablespace">
                        	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguDataFile" label="%tree.files.node.name" icon="#files" description="Data Files">
                            	<items label="%tree.file.node.name" path="file" property="files" icon="#file"/>
                        	</folder>
                    	</items>
                	</folder>
                    <!--用户-->
                    <folder type="org.jkiss.dbeaver.ext.xugu.model.XuguUser" label="%tree.users.node.name" icon="#folder_user" description="Users">
                    	<items label="%tree.user.node.name" path="user" property="users" icon="#user">
                    	</items>
                    </folder>
                    <!--角色-->
                	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguRole" label="%tree.roles.node.name" icon="#folder_role" description="Roles">
                    	<items label="%tree.role.node.name" path="role" property="roles" icon="#user_group">
                    	</items>
                	</folder>
                    <!--全局元信息-->
		       		<folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="%tree.global_metadata.node.name" icon="#logical" description="Global metadata objects">
                    	<folder type="org.jkiss.dbeaver.ext.xugu.model.XuguDataType" label="%tree.types.node.name" icon="#data_types" description="Types">
                        	<items label="%tree.data_type.node.name" path="type" property="localDataTypes" icon="#data_type"/>
                    	</folder>
                	</folder>
            </tree>

            <drivers managable="true">
                <driver
                      class="com.xugu.cloudjdbc.Driver"
                      defaultPort="5138"
                      description="Xugu JDBC driver."
                      icon="icons/xugu_icon.png"
                      iconBig="icons/xugu_icon_big.png"
                      id="Xugu SQL Server"
                      label="Xugu"
                      promoted="true"
                      sampleURL="jdbc:xugu://{host}[:{port}]/{database}"
                      useURL="false"
                      webURL="https://github.com/xugu-publish/jdbc-driver/tree/master/libsrc/">
                    <replace provider="generic" driver="xugu"/>
                    <replace provider="xugu" driver="xugu"/>
                    <replace provider="xugu" driver="xugu_oci"/>

                	<property name="recv_mode" value="2"/>  
                	<property name="auto_commit" value="on"/>  
                	<!-- <property name="lob_ret" value=""/> -->
                	<property name="iso_level" value="READ ONLY"/>
                	<property name="lock_timeout" value="3600000"/>
                	<property name="return_rowid" value="false"/>
                	<property name="sql_cursor" value="sql_cursor"/>
                	<property name="isCompatible" value="false"/> 
                	<!--	<property name="iscompatibleqx" value="false"/> -->
               		<!--	<property name="ips" value=""/> -->
                    <property name="char_set" value="utf8"/> 

                    <!--<file path="maven:/com.Xugu.jdbc:ojdbc8:RELEASE" type="jar"/>-->

                    <fileSource url="https://github.com/xugu-publish/jdbc-driver/tree/master/libsrc" name="Xugu JDBC drivers">
                        <file name="cloudjdbc-10.0.0.jar" description="Xugu JDBC driver."/>
                        <file name="cloudjdbc-10.2.0.jar" description="Xugu JDBC driver."/>
                        <file name="cloudjdbc-11.0.0.jar" description="Xugu JDBC driver."/>
                    </fileSource>
                   
                    <file type="license" path="drivers/xugu/LICENSE.txt" bundle="drivers.xugu"/>
                    <file type="jar" path="drivers/xugu/cloudjdbc-11.0.0.jar" bundle="drivers.xugu"/>

                </driver>
            </drivers>
            <templates>
                <resolver type="SYSDBA" class="org.jkiss.dbeaver.ext.xugu.model.resolvers.XuguUserResolver" description="Current Xugu user"/>
            </templates>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.xugu.dataSourceWizardView"
                dataSource="xugu"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.xugu.views.XuguConnectionPage"
                icon="icons/xugu_icon.png">
        </view>
        <view
                id="org.jkiss.dbeaver.ext.xugu.dataSourceEditorView"
                dataSource="xugu"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.xugu.views.XuguConnectionPage">
        </view>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguUserManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguUser"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguDatabaseManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguDatabase"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguSchemaManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguSchema"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTableManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTable"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTableColumnManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTableColumn"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguForeignKeyManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTableForeignKey"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguConstraintManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTableConstraint"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguIndexManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTableIndex"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguViewManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguView"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguProcedureManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguProcedureStandalone"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguPackageManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguPackage"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTriggerManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTrigger"/>
        <manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguSequenceManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguSequence"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguSynonymManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguSynonym"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTablespaceManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTablespace"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguRoleManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguRole"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguUDTManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguUDT"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTablePartitionManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTablePartition"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguTableSubPartitionManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguTableSubPartition"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguUserAuthorityManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguUserAuthority"/>
    	<manager class="org.jkiss.dbeaver.ext.xugu.edit.XuguRoleAuthorityManager" objectType="org.jkiss.dbeaver.ext.xugu.model.XuguRoleAuthority"/>
    </extension>
    
    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor id="source.declaration" class="org.jkiss.dbeaver.ext.xugu.editors.XuguSourceDeclarationEditor"
            label="%editor.package.declaration.name" description="%editor.package.declaration.description" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguView"/>
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguProcedureStandalone"/>
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguPackage"/>
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguTrigger"/>
        </editor>
        <editor id="source.definition" class="org.jkiss.dbeaver.ext.xugu.editors.XuguSourceDefinitionEditor"
            label="%editor.package.body.name" description="%editor.package.body.description" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguPackage"/>
        </editor>
        <editor id="schedulerJob.action" class="org.jkiss.dbeaver.ext.xugu.editors.SchedulerJobActionEditor"
            label="%editor.scheduler.job.action.name" description="%editor.schedulerJob.action.description" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguSchedulerJob"/>
        </editor>
        <editor id="source.ddl" class="org.jkiss.dbeaver.ext.xugu.editors.XuguObjectDDLEditor"
            label="DDL" description="DDL" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.xugu.model.XuguTable"/>
        </editor>
        <editor
            id="org.jkiss.dbeaver.ext.xugu.editors.XuguUserEditorGeneral"
            class="org.jkiss.dbeaver.ext.xugu.editors.XuguUserEditorGeneral"
            objectType="org.jkiss.dbeaver.ext.xugu.model.XuguUser"
            main="true"
            label="%editor.general.name"
            description="General user settings"
            icon="#user">
        </editor>
        
        <editor
            id="org.jkiss.dbeaver.ext.xugu.editors.XuguRoleEditor"
            class="org.jkiss.dbeaver.ext.xugu.editors.XuguRoleEditor"
            objectType="org.jkiss.dbeaver.ext.xugu.model.XuguRole"
            main="true"
            label="%editor.general.name"
            description="General role settings"
            icon="#role">
        </editor>
        
    </extension>
       
    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.xugu.data.XuguValueHandlerProvider"
            description="Xugu data types provider"
            id="org.jkiss.dbeaver.ext.xugu.data.XuguValueHandlerProvider"
            label="Xugu data types provider">

            <datasource id="xugu"/>

            <type name="XMLTYPE"/>
            <type kind="CONTENT"/>
            <type kind="DATETIME"/>
            <type name="TIMESTAMP"/>
            <type name="TIMESTAMP WITH TZ"/>
            <type name="TIMESTAMP WITH LOCAL TZ"/>
            <type name="TIMESTAMP WITH TIME ZONE"/>
            <type name="TIMESTAMP WITH LOCAL TIME ZONE"/>
            <!--type standard="STRUCT"/-->

        </provider>
    </extension>
    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.ext.xugu" name="Xugu" description="Xugu Commands"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
    </extension>

    <extension point="org.eclipse.ui.handlers">
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">   
        </menuContribution>
    </extension>
    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="java.lang.Object" class="org.jkiss.dbeaver.ext.xugu.actions.XuguObjectAdapter">
            <adapter type="org.jkiss.dbeaver.ext.xugu.model.source.XuguSourceObject"/>
        </factory>
    </extension>
	
    <extension point="org.eclipse.ui.editors">
    </extension>
</plugin>
